.chime-navbar {
  background-color: #7F199C;
  height: 5%;
}

.chime-nav-link {
  color: #FFF;
}

.chime-btn {
  background-color: #333;
}

.chime-btn-2 {
  background-color: #7F199C;
  color: #FFF;
}

.chime-icon {
  color: white;
  font-size: 4em;
  margin: 1%;
}

.chime-caption {
  color: white;
  font-size: 1.5em;
  margin-bottom: 1%;
}

.chime-desc {
  color: #222;
  font-size: 1.2em;
}

#home {
  background: linear-gradient(#7F199C, #FFF);
}

#beta {
  background-color: #FFF;
  padding: 10% 5%;
}

#about {
  background-image: linear-gradient(rgba(51, 51, 51, .5), rgba(51, 51, 51, .5)), url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 15% 5%;
}

#contact {
  background-color: #333;
  padding: 3% 5%;
}

#features {
  background-color: #7F199C;
  padding: 2.5%;
}

#bottom-img {
  max-width: 25%;
  height: auto;
}
